<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{"" | translate}} </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <h1>{{"TEXTLISTADETAREAS" | translate}} {{"WORDACCEPT" | translate}} </h1>
    <ion-item *ngFor="let task of tasksAcceptList">
      <h2>{{task?.name}}</h2>
      <p>{{"WORDNAME" | translate}}: <strong>{{task?.Name}}</strong></p>
      <p>{{"WORDDESCRIPTION" | translate}}: <strong>{{task?.Description}}</strong></p>
    </ion-item>
  </ion-list>

  <ion-list>
    <h1>{{"TEXTLISTADETAREAS" | translate}} {{"WORDREJECT" | translate}}</h1>
    <ion-item *ngFor="let task of tasksRejectedList">
      <h2>{{task?.name}}</h2>
      <p>{{"WORDNAME" | translate}}: <strong>{{task?.Name}}</strong></p>
      <p>{{"TEXTHS" | translate}}: <strong>{{task?.HourSended}}</strong></p>
    </ion-item>
  </ion-list>

    <ion-list>
    <h1> TOOO MMEEE {{"WORDREJECT" | translate}}</h1>
    <ion-item *ngFor="let task of tasksRejectedToMeList">
      <h2>{{task?.name}}</h2>
      <p>{{"WORDNAME" | translate}}: <strong>{{task?.Name}}</strong></p>
      <p>{{"TEXTHS" | translate}}: <strong>{{task?.HourSended}}</strong></p>
    </ion-item>
  </ion-list>

</ion-content>