
<ion-header>
  <ion-navbar>
    <ion-title>MANAGE </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <h1>Lista de tareas aceptadas</h1>
    <ion-item *ngFor="let task of tasksAcceptList">
      <h2>{{task?.name}}</h2>
      <p>Name: <strong>{{task?.Name}}</strong></p>
      <p>Description: <strong>{{task?.Description}}</strong></p>
    </ion-item>
  </ion-list>

  <ion-list>
    <h1>Lista de tareas rechazadas</h1>
    <ion-item *ngFor="let task of tasksRejectedList">
      <h2>{{task?.name}}</h2>
      <p>Name: <strong>{{task?.Name}}</strong></p>
      <p>Description: <strong>{{task?.Description}}</strong></p>
    </ion-item>
  </ion-list>

</ion-content>
