<ion-header>

  <ion-navbar color="primary">
    <ion-title>CreateOwnTask</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div>
    <ion-list>

      <ion-item>
        <ion-label stacked>Tarea</ion-label>
        <ion-input [(ngModel)]="taskName" type="text" placeholder="Nombre de la tarea"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Tipo</ion-label>
        <ion-select (ionChange)="loadSubtypes($event)">
          <ion-option *ngFor="let type of types | async" value="{{type.typeName}}">
            {{type.typeName}}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Subtipo</ion-label>
        <ion-select (ionChange)="selectSubtype($event)">
          <ion-option *ngFor="let subtype of subtypes | async" value="{{subtype.subtypeName}}">
            {{ subtype.subtypeName }}
          </ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

  </div>

  <div style="margin-top:10px">
    <ion-list>
      <ion-item>
        <ion-label>Start Date</ion-label>
        <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="startDate" min="{{minDate}}"></ion-datetime>
      </ion-item>


      <ion-item>
        <ion-label>Start Time</ion-label>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="startTime"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label> Repeat</ion-label>
        <ion-toggle checked="false" [(ngModel)]="repeatToggle"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Recurrence</ion-label>
        <ion-select (ionChange)="selectRecurrence($event)" [disabled]="!repeatToggle" [(ngModel)]="recurrence">
          <ion-option value="daily">
            Daily
          </ion-option>
          <ion-option value="weekly">
            Weekly
          </ion-option>
          <ion-option value="monthly">
            Monthly
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Ends Date</ion-label>
        <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="endDate" [disabled]="repeatToggle" min="{{minDate}}"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Ends Time</ion-label>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="endTime"></ion-datetime>
      </ion-item>

    </ion-list>
  </div>


  <div>
    <ion-list>
      <ion-item>
        <ion-label stacked> Priority</ion-label>
        <ion-range min="1" max="5" step="1" snaps="true" [(ngModel)]="priority" color="danger">
          <ion-icon range-left small color="danger" name="alert"></ion-icon>
          <ion-icon range-right color="danger" name="alert"></ion-icon>
        </ion-range>
      </ion-item>

      <ion-item>
        <ion-label> Notifications</ion-label>
        <ion-toggle checked="true" [(ngModel)]="notificationsToggle"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Advanced options</ion-label>
        <ion-toggle checked="false" [(ngModel)]="advancedToggle"></ion-toggle>
      </ion-item>

    </ion-list>


    <div style="background-color:white; margin-bottom: 40%" *ngIf="advancedToggle">

      <ion-label stacked>Files</ion-label>
      <div style="float:left;width:50%; border-right:1px solid #8B3A3A;height:20vh; background-color:white">

        <button ion-item (click)="showFilesOptionsSheet()">
        <ion-icon item-left name="add"></ion-icon>
        Add Files
      </button>

      </div>

      <div style="float:right;width:50%; background-color:white">

        <ion-scroll scrollY="true" style="height:20vh" id="scroll-user">

          <ion-list>
            <ion-item>
              <ion-label>Item1</ion-label>
              <button ion-button item-right icon-only icon-right clear (click)="quitUser()">
            <ion-icon name="md-close"></ion-icon>     
          </button>
            </ion-item>
            <ion-item>
              <ion-label>Item2</ion-label>
              <button ion-button item-right icon-only icon-right clear (click)="quitUser()">
            <ion-icon name="md-close"></ion-icon>     
          </button>
            </ion-item>
            <ion-item>
              <ion-label>Item3</ion-label>
              <button ion-button item-right icon-only icon-right clear (click)="quitUser()">
            <ion-icon name="md-close"></ion-icon>     
          </button>
            </ion-item>
          </ion-list>
        </ion-scroll>

      </div>
    </div>


    <ion-list *ngIf="advancedToggle">
      <ion-item>
        <ion-label stacked>Comments</ion-label>
        <ion-textarea [(ngModel)]="newComment" type="text" placeholder="Write a commentary"></ion-textarea>
      </ion-item>

    </ion-list>


    <div style="background-color:white" *ngIf="advancedToggle">
      <ion-label stacked>User Permissons</ion-label>
      <div style="float:left;width:30%; border-right:1px solid #8B3A3A">


        <ion-item style="padding-right:10px">
          <button ion-button item-right icon-only icon-right clear (click)="addUserPermissons()">
            <ion-icon name="add-circle"></ion-icon>     
          </button>
        </ion-item>

        <ion-item style="padding-top:27%;padding-right:10px">
          <button ion-button item-right icon-only icon-right clear (click)="newUserPermissons()">
            <ion-icon name="person-add"></ion-icon>     
          </button>
        </ion-item>
      </div>
      <div style="float:right;width:70%; background-color:white">

        <ion-scroll scrollY="true" style="height:20vh" id="scroll-user">

          <ion-list>
            <ion-item *ngFor="let permisson of permissons; let i=index">
              <ion-label>{{permisson}}</ion-label>
              <button ion-button item-right icon-only icon-right clear (click)="quitUserPermissons(i)">
            <ion-icon name="md-close"></ion-icon>     
          </button>
            </ion-item>
          </ion-list>
        </ion-scroll>

      </div>
    </div>

  </div>

    <button ion-button block (click)="addTask()" >
    Create new Task
  </button>
</ion-content>