<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle item-right>
      <ion-icon name="apps"></ion-icon>
    </button>

    <ion-title *ngIf="!enableSearch">
      {{"PROJECTNAME" | translate }}
    </ion-title>
    <ion-searchbar *ngIf="enableSearch" (ionCancel)="toggleSearchBar()" [showCancelButton]="true"></ion-searchbar>

    <ion-buttons end>
      <button (click)="toggleSearchBar()" ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding text-center>

  <!--<div color="danger">
    <h2>{{ "HELLOHOMEPAGE" | translate }}</h2>
    <p>
      {{ "INFOHOMEPAGE"| translate}}
    </p>
  </div>
  <button ion-button (click)="goToHomePage2()">HP2</button>-->

  <ion-list>
    <ion-item-sliding #item>
      <ion-item>
        <h2>name</h2>
        <p>message</p>
        <ion-note item-right>
          time
        </ion-note>
      </ion-item>

      <ion-item-options>
        <button ion-button color="secondary" (click)="more(item)">
          <ion-icon name="menu"></ion-icon>
          More
        </button>
        <button ion-button color="dark" (click)="mute(item)">
          <ion-icon name="volume-off"></ion-icon>
          Mute
        </button>
        <button ion-button color="danger" (click)="delete(item)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>

      <ion-item-options side="left" (ionSwipe)="archive(item)">
        <button ion-button color="primary" expandable (click)="archive(item)">
          <ion-icon name="archive" class="expand-hide"></ion-icon>
          <div class="expand-hide">Archive</div>
          <ion-spinner id="archive-spinner"></ion-spinner>
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <!--<ion-item>
      <ion-thumbnail item-left>
        <img src="assets/img/logo2.jpg">
      </ion-thumbnail>
      <h2>Task name 1</h2>
      <p>Other task information 1</p>
      <button ion-button clear item-right (click)="goToHomePage2()">View</button>
    </ion-item>-->
    <!--DELETE UP AND ADD NGFOR-->
  </ion-list>

  <ion-fab right bottom edge>
    <button ion-fab color="danger" (click)="goToNot()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>