<ion-header>

  <ion-navbar color="primary">
    <div>
      <div style="position:relative;float:left">
        <button ion-button menuToggle *ngIf="(taskSegment && firstSlide) || (!taskSegment && firstSlide2)">
          <ion-icon name="apps"></ion-icon>
        </button>

        <ion-buttons>
          <button (click)="previousDay()" ion-button icon-only *ngIf="(taskSegment && !firstSlide)||(!taskSegment && !firstSlide2)">
        <ion-icon name="arrow-back"></ion-icon>
    </button>
        </ion-buttons>
      </div>
      <div style="position:absolute;left:50px;top:5px;width:80%">
        <div>
          <ion-title *ngIf="!enableSearch" style="padding-top:15px">
            {{title}}
          </ion-title>
        </div>
        <ion-searchbar [(ngModel)]="searchTerm" style="width:80%" *ngIf="enableSearch" (ionCancel)="toggleSearchBar()" [showCancelButton]="true"></ion-searchbar>
      </div>

    </div>

    <ion-buttons end>
      <button (click)="toggleSearchBar()" ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
      <button (click)="nextDay()" ion-button icon-only *ngIf="(taskSegment && !lastSlide)||(!taskSegment && !lastSlide2)">
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>


  <ion-refresher (ionRefresh)="doRefresh($event)" (closeDuration)="2000" (snapbackDuration)="2000">
    <ion-refresher-content pullingIcon="circles" pullingText=" {{ 'TEXTREFRESH'| translate}}" refreshingSpinner="circles" refreshingText=" {{ 'WORDREFRESH'| translate}}...">
    </ion-refresher-content>
  </ion-refresher>


  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="taskOwner">
      <ion-segment-button value="me" (ionSelect)="showOwnTasks()">
        {{'ME' | translate }}
      </ion-segment-button>
      <ion-segment-button value="Others" (ionSelect)="showOtherTasks()">
        {{'OTHERS' | translate }}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-slides (ionSlideDidChange)="slideChanged2()" *ngIf="!taskSegment">
    <ion-slide *ngFor="let day of datesList2">
      <ion-list>

        <div *ngFor="let task of delegatedTaskList | async">
          <ion-item-sliding *ngIf="validateDates2(day,task.startDay,task.endTime,task.repeat,task.recurrence,task.taskName,task.responsable)">
            <!--<ion-item-sliding >-->

            <ion-item color="{{chooseColor(task.endTime,task.status,task.recurrence)}}">
              <ion-avatar item-left>
                <img src="assets/img/logo2.jpg">

              </ion-avatar>
              <h2>{{task.taskName}}</h2>
              <p>{{task.responsable}}</p>
              <ion-note item-right *ngIf="task.repeat==false">
                <ion-icon *ngIf="task.haveImage" name="attach"></ion-icon>
                {{task.endTime}}
              </ion-note>

              <ion-note item-right *ngIf="task.repeat==true">
                <ion-icon *ngIf="task.haveImage" name="attach"></ion-icon>
              </ion-note>
            </ion-item>

            <ion-item-options>
              <button ion-button color="button1" (click)="postpone(task.$key,task.permissons,task.responsable,task.alarm)">
          <ion-icon name="alarm"></ion-icon>
          {{'POSTPONE' | translate }}
        </button>
              <button ion-button color="button2" (click)="edit(task.$key,task.permissons)">
          <ion-icon name="create"></ion-icon>
          {{'EDIT' | translate }}
        </button>
              <button ion-button color="completeButton" (click)="contact(task.phone,task.$key)">
          <ion-icon name="call"></ion-icon>
          {{'CONTACT' | translate }}
        </button>
            </ion-item-options>

            <ion-item-options side="left" (ionSwipe)="end(task.$key,task.permissons,task.responsable)">
              <button ion-button color="button3" expandable (click)="end(task.$key,task.permissons,task.responsable)">
          <ion-icon name="checkmark-circle"></ion-icon>
          <div>{{'FINISHED' | translate }}</div>
          <ion-spinner id="archive-spinner"></ion-spinner>
        </button>
            </ion-item-options>
          </ion-item-sliding>
        </div>

      </ion-list>


    </ion-slide>
  </ion-slides>

  <ion-slides (ionSlideDidChange)="slideChanged()" *ngIf="taskSegment">
    <ion-slide *ngFor="let day of datesList">

      <ion-list>

        <div *ngFor="let task of taskList | async">
          <ion-item-sliding *ngIf="validateDates(day,task.startDay,task.endTime,task.repeat,task.recurrence,task.taskName)">
            <ion-item>
              <ion-avatar item-left>
                <img src="assets/img/0.jpg" *ngIf="task.status==0">
                <img src="assets/img/1.jpg" *ngIf="task.status==1">
                <img src="assets/img/2.jpg" *ngIf="task.status==2">
                <img src="assets/img/3.jpg" *ngIf="task.status==3">
                <img src="assets/img/4.jpg" *ngIf="task.status==4">
              </ion-avatar>
              <h2>{{task.taskName}}</h2>
              <p>{{task.type}}</p>
              <ion-note item-right *ngIf="task.repeat==false">
                <ion-icon *ngIf="task.haveImage" name="attach"></ion-icon>
                {{task.endTime}}
              </ion-note>

              <ion-note item-right *ngIf="task.repeat==true">
                <ion-icon *ngIf="task.haveImage" name="attach"></ion-icon>
              </ion-note>
            </ion-item>

            <ion-item-options>
              <button ion-button color="button1" (click)="view(task.$key,task.permissons)">
          <ion-icon name="eye"></ion-icon>
          {{'VIEW' | translate }}
        </button>
              <button ion-button color="button2" (click)="chat(task.$key)">
          <ion-icon name="chatbubbles"></ion-icon>
          Chat
        </button>
              <button ion-button color="button3" (click)="update(task.$key,task.status,task.permissons)">
          <ion-icon name="flag"></ion-icon>
          {{'UPDATE' | translate }}
        </button>
            </ion-item-options>

            <ion-item-options side="left" (ionSwipe)="complete(task.$key,task.status,task.permissons)">
              <button ion-button color="completeButton" expandable (click)="complete(task.$key,task.status,task.permissons,task.taskName)">
          <ion-icon name="checkmark-circle"></ion-icon>
          <div *ngIf="task.status==0">{{'STARTED' | translate }}</div>
          <div *ngIf="task.status!==0">{{'COMPLETED' | translate }}</div>
          <ion-spinner id="archive-spinner"></ion-spinner>
        </button>
            </ion-item-options>
          </ion-item-sliding>
        </div>

      </ion-list>
    </ion-slide>
  </ion-slides>

  <ion-fab right bottom>
    <button ion-fab color="danger" (click)="newTaskActionSheet()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab left bottom>
    <button ion-fab (click)="goToNotifications()">
        <ion-icon name="{{Noti}}"></ion-icon>
    </button>
  </ion-fab>

</ion-content>