<ion-header>

  <ion-navbar color="primary">
    <ion-buttons left>
    </ion-buttons>
    <ion-title>{{'TASKTITLE' | translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list ng-for>
     <ion-item>
      {{(task | async)?.taskName}}
    </ion-item>
    <ion-item *ngIf="!(task | async)?.repeat">
      <ion-icon name="clock"></ion-icon>
      {{'START' | translate}}: {{(task | async)?.startDate}} {{'AT' | translate}} {{(task | async)?.startTime}} {{'END' | translate}}: {{(task | async)?.endTime}} {{'AT' | translate}} {{(task | async)?.alarm}}
    </ion-item>

    <ion-item *ngIf="(task | async)?.repeat">
      <ion-icon name="clock"></ion-icon>
      {{'START' | translate}}: {{(task | async)?.startDay}} {{'AT' | translate}} {{(task | async)?.startTime}} {{'RECURRENCE' | translate}}: {{(task | async)?.recurrence}}
    </ion-item>
    <ion-item>
      <ion-icon name="chatbubbles"></ion-icon>
      {{'COMMENTS' | translate}}
    </ion-item>

    <ion-item>
      <ion-textarea type="text" [readonly]="true" value="{{(task | async)?.comments}}"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-icon name="attach"></ion-icon>
      {{'FILES' | translate}}
      <ion-list>
        <ion-item *ngFor="let file of (task | async)?.files">
          {{file}}}
        </ion-item>
      </ion-list>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{'ADDCOMMENT' | translate}}</ion-label>
      <ion-textarea [(ngModel)]="newComment" type="text" placeholder="{{'WRITEACOMMENTARY' | translate}}"></ion-textarea>
    </ion-item>

    <ion-item>
      <input #aux1 style="display: none" type="text" value="{{ (task | async)?.responsable }}">
      <input #aux2 style="display: none" type="text" value="{{(task | async)?.comments}}">
      <button ion-button (click)="addComment(aux1.value,aux2.value)">
      {{'ADDCOMMENT' | translate}}
    </button>
    </ion-item>

  </ion-list>

</ion-content>