<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{'CREATEANACCOUNT' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-content>
      <h1> {{"TEXTPROFILEPICTURE" | translate}} </h1>
      <button ion-button icon-left color="dark" (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
      {{"TEXTTAKEPIC" | translate}}
    </button>
      <button ion-button icon-left color="dark" (click)="selectPicture()">
      <ion-icon name="grid"></ion-icon>
      {{"TEXTSELECTPIC" | translate}}
    </button>
      <img [src]="image" *ngIf="image">
    </ion-card-content>
  </ion-card>

  <!---->
  <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>

    <ion-item>
      <ion-label stacked>{{"WORDEMAIL" | translate}}</ion-label>
      <ion-input #email formControlName="email" type="email" placeholder="{{'YOUREMAIL' | translate}}" [class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.dirty">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid  && signupForm.controls.email.dirty">
      <p>{{"TEXTENTERVALIDEMAIL" | translate}}</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{"WORDPASSWORD" | translate}}</ion-label>
      <ion-input #password formControlName="password" type="password" placeholder="{{'YOURPASSWORD' | translate}}" [class.invalid]="!signupForm.controls.password.valid && signupForm.controls.password.dirty">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid  && signupForm.controls.password.dirty">
      <p>{{'PASSWORDERROR' | translate }}</p>
    </ion-item>

    <button ion-button block type="submit">
      {{"TEXTNA" | translate}}
    </button>
  </form>
</ion-content>